/* CSS style for the Easy Export - HP Gong  */

span.at-required-highlight {color: red;}

.at-required-highlight {color: red;}

.at-error{color:red;margin:0;}.at-warning{color:orange;margin:0;}

.at-required,.at-required+label::before{border-color:red!important;}

p.at-warning{color: red;}

.box{padding: 0px;display: none;margin-top: 0px;border: 0px solid #000;width: 90%;}

li{display: list-item;list-style-position: inside;}

#ol-tag{column-count:4; -o-column-count:4; -moz-column-count:4; -webkit-column-count:4; list-style-type: square;}

table.ts tr.tsTitles th.sortable {
  position: relative;
  cursor: pointer;
}
table.ts tr.tsTitles th.sortable:after {
  content: '';
  width: 0px;
  height: 0px;
  background-color: transparent;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -5px;
  border-left: 5px solid #333;
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
table.ts tr.tsTitles th.desc:after,
table.ts tr.tsTitles th.asc:after {
  margin-top: -2.5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
table.ts tr.tsTitles th.desc:after {
  border-top: 5px solid #333;
  border-bottom: 0px solid transparent;
}
table.ts tr.tsTitles th.asc:after {
  border-top: 0px solid transparent;
  border-bottom: 5px solid #333;
}