/* CSS style for the Easy Export - HP Gong  */

span.at-required-highlight {color: red;}

.at-required-highlight {color: red;}

.at-error{color:red;margin:0;}.at-warning{color:orange;margin:0;}

.at-required,.at-required+label::before{border-color:red!important;}

p.at-warning{color: red;}

.box{padding: 0px;display: none;margin-top: 0px;border: 0px solid #000;width: 90%;}

li{display: list-item;list-style-position: inside;}

#ol-tag{column-count:4; -o-column-count:4; -moz-column-count:4; -webkit-column-count:4; list-style-type: square;}
